article {
	margin-bottom: $spacer;
}

.comments-area {
	padding: $spacer;
	background-color: rgba(0, 0, 0, 0.065);

	.comment-respond {
		margin-top: $spacer;

		&:first-child {
			margin-top: 0;
		}
	}

	.media-left {
		padding-right: 0;

		span,
		a {
			display: block;
			padding-right: 10px;

			img {
				display: block;
			}
		}
	}
}
