img,
.wp-caption {
	max-width: 100%;
	height: auto;
}

img.avatar {
	max-width: none;
}

.alignnone {
	margin: $alignment-spacing-y $alignment-spacing-x;
}

.aligncenter {
	display: block;
	margin: $alignment-spacing-y auto;
}

.alignright {
	float: right;
	margin: $alignment-spacing-y 0 $alignment-spacing-y $alignment-spacing-x;
}

.alignleft {
	float: left;
	margin: $alignment-spacing-y $alignment-spacing-x $alignment-spacing-y 0;
}

.wp-caption.aligncenter {
	a,
	img {
		display: block;
	}
}

.wp-caption {
	padding: $spacer $spacer (0.5 * $spacer);
	background-color: rgba(0, 0, 0, 0.065);

	.wp-caption-text {
		margin-top: 0.5rem;
		font-size: 0.9rem;
	}
}

.screen-reader-text {
	@include sr-only();

	&:focus {
		width: auto;
		height: auto;
		padding: 5px 15px;
		margin: 0;
		clip: auto !important;
	}
}
